.team-title {
    text-align: center;
    margin-top: 3rem;

    h2 {
        font-weight: normal;
    }

    .pls-help {
        display: flex;
        justify-content: center;
        align-items: center;

        p,
        input {
            margin: 0;
        }

        p {
            margin-right: 0.5rem;
        }
    }
}